section {
  background-image: url(white.png);
  color: gray;
  margin: 10px;
  text-align: center;
}
h2 {
  border-style: solid;
}
body {
  background-image: url(bgbp.png);
  background-size: cover; width: 100%; height: 100%;
}
