 section {
  background-image: url(white.png);
  color: gray;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px 2px 2px 10px;
  padding: 10px;
}
body {
  background-image: #58ACFA; 
  filter:brightness( 70%)
  
  background-size: cover; width: 100%; height: 100%;
}
